* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.misivision_container_general h1 {
  font-size: 3rem;
}

.misivision_container_general h2 {
  font-size: 2rem;
}

.misivision_container_general h3 {
  font-size: 1rem;
}

.misivision_container_general h4 {
  font-size: 0.5rem;
}

.misivision_container_general h5 {
  font-size: 0.4rem;
}

.misivision_container_general h6 {
  font-size: 0.3rem;
}

.misivision_container_general {
  overflow: hidden;
  display: block;
  margin: 0 auto;
  width: 100%;
  position: relative;
  top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 70px;
  gap: 30px;
  overflow: hidden;
}

.misivision_container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 90%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;

  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(9px);
  backdrop-filter: blur(9px);
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.misivision_container:hover,
.misivision_container:focus,
.misivision_container:active {
  background: rgba(97, 97, 97, 0.5);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  border: 1px solid rgba(15, 15, 15, 0.25);
  cursor: default;
}

.misivision_container h2 {
  margin-bottom: 10px;
  background: linear-gradient(45deg, #007474, #00adad, #003b3b, black);
  background-size: 200% 200%;
  animation: gradient-animation 2s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: gradient-animation 2s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.misivision_text {
  font-size: 0.93rem;
  text-align: left;
  color: #b8b7bb;
  line-height: 1.3rem;
}

@media (min-width: 440px) {
  .misivision_container_general {
    padding-left: 20px;
    padding-right: 20px;
  }

}

@media (min-width: 540px) {
  .misivision_container_general {
    flex-direction: row;
    padding-left: 25px;
    padding-right: 25px;
  }

}

@media (min-width: 640px) {
  .misivision_container_general {
    padding-left: 35px;
    padding-right: 35px;
  }
}

@media (min-width: 740px) {
  .misivision_container_general {
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media (min-width: 840px) {
  .misivision_container_general {
    padding-left: 55px;
    padding-right: 55px;
  }
}

@media (min-width: 940px) {
  .misivision_container_general {
    padding-left: 130px;
    padding-right: 130px;
    gap: 40px;
  }
}

@media (min-width: 1040px) {
  .misivision_container_general {
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 80px;
  }
}

@media (min-width: 1140px) {
  .misivision_container_general {
    padding-left: 190px;
    padding-right: 190px;
  }
}

@media (min-width: 1240px) {
  .misivision_container_general {
    padding-left: 220px;
    padding-right: 220px;
  }
}

@media (min-width: 1340px) {
  .misivision_container_general {
    padding-left: 250px;
    padding-right: 250px;
  }
}

@media (min-width: 1450px) {
  .misivision_container_general {
    width: 90%;
    gap: 60px;
  }
}

@media (min-width: 1550px) {
  .misivision_container_general {
    width: 85%;
  }
}

@media (min-width: 1650px) {
  .misivision_container_general {
    width: 80%;
  }
}

@media (min-width: 1750px) {
  .misivision_container_general {
    width: 75%;
  }
}

@media (min-width: 1850px) {
  .misivision_container_general {
    width: 70%;
  }
}

@media (min-width: 1950px) {
  .misivision_container_general {
    width: 65%;
  }
}

@media (min-width: 2005px) {
  .misivision_container_general {
    width: 60%;
  }
}

@media (min-width: 2500px) {
  .misivision_container_general {
    width: 50%;
  }
}
