* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 999;
}

.foot_container_general {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 15px;
  display: block;
  margin: 0 auto;
  background-color: black;

  margin-top: 130px;
}

.foot_container_general img {
  width: 100px;
  padding-top: 30px;
}

.foot_title {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.5);
  text-align: left;
  font-style: italic;
}

.foot_links_articles {
  margin-top: 20px;
  padding-top: 15px;
  border-top: 2px solid #3f3e45;
}

.foot_links_articles ul {
  display: flex;
  gap: 20px;
  flex-direction: column;
  flex-wrap: wrap;
}

.foot_links_articles a {
  color: rgba(255, 255, 255, 0.25);
  font-size: 1rem;
}

.foot_links_articles a:hover {
  color: turquoise;
  cursor: pointer;
}

.copy_container {
  border-top: 2px solid #3f3e45;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 15px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.copy_title {
  color: white;
}

.copy_icons {
  display: flex;
  margin-top: 20px;
  font-size: 1.6rem;
  gap: 20px;
  color: white;
}

.copy_icons i {
  color: gray;
}

.copy_icons i:hover {
  color: turquoise;
  cursor: pointer;
}

@media (min-width: 365px) {
  .foot_links_articles ul {
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .foot_container_general {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 440px) {
  .foot_container_general {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 840px) {
  .foot_container_general {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 940px) {
  .foot_container_general {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media (min-width: 1040px) {
  .foot_container_general {
    padding-left: 90px;
    padding-right: 90px;
  }
}

@media (min-width: 1140px) {
  .foot_container_general {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (min-width: 1450px) {
  .foot_container_general {
    width: 90%;
  }
}

@media (min-width: 1550px) {
  .foot_container_general {
    width: 85%;
  }
}

@media (min-width: 1650px) {
  .foot_container_general {
    width: 80%;
  }
}

@media (min-width: 1750px) {
  .foot_container_general {
    width: 75%;
  }
}

@media (min-width: 1850px) {
  .foot_container_general {
    width: 70%;
  }
}

@media (min-width: 1950px) {
  .foot_container_general {
    width: 65%;
  }
}

@media (min-width: 2005px) {
  .foot_container_general {
    width: 60%;
  }
}

@media (min-width: 2500px) {
  .foot_container_general {
    padding-left: 150px;
    padding-right: 150px;
  }
}

@media (min-width: 3005px) {
  .foot_container_general {
    width: 50%;
  }
}
